@font-face {
    font-family: Raleway-Regular;
    src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: Raleway-Thin;
    src: url('../fonts/Raleway-Thin.ttf');
}
@font-face {
    font-family: Raleway-bold;
    src: url('../fonts/Raleway-Bold.ttf');
}
@font-face {
    font-family: Raleway-light;
    src: url('../fonts/Raleway-Light.ttf');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway-Regular;
}
/* general */
.row {
    display: flex;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header, section {
    width: 100%;
}
/* header section */
header {
    width: 100%;
    padding: 10px;
    position: sticky;
    top: 0px;
    background-color: #fff;
}
/* logo */
.logo {
    display: flex;
    align-items: center;
    width: 20%;
    padding: 0 0 0 10px;
}
.logo span {
    font-size: 24px;
    font-weight: 100;
    color: #4c4c4c;
    cursor: pointer;
    font-family: Raleway-light;
}
/* navigation */
.main-menu {
    width: 80%;
    display: flex;
    justify-content: flex-end; 
}
.main-menu ul {
    display: flex;
    background-color: #fff;
}
.main-menu ul li {
    list-style-type: none;
    margin-right: 32px;
    padding: 18px 0;
}
.main-menu ul li a {
    text-decoration: none;
    color: #4c4c4c;
    font-size: 13px;
    letter-spacing: -1px;
    font-weight: 100;
    padding: 18px 0;
}
.main-menu ul li a:hover {
    color: #5234f9;
}
/* submenu 1 */
.submenu {
    position: relative;
}
.submenu-content {
    display: none;
    position: absolute;
    transform: translateY(18px)
}
.submenu-content ul {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid rgba(0,0,0,.15);
}
.submenu-content ul li {
    width: 100%;
    padding: 0px;
}
.submenu-content ul li a {
    color: #8c979e;
    padding: 6px 24px;
    display: block;
    width: 200px;
}
.submenu-content ul li a:hover {
    background: #f8f8f8;
    color: #5234f9;
}
.submenu:hover .submenu-content {
    display: block;
}
.submenu-content ul li a .fa {
    float: right;
}
/* second submenu */
.second-submenu {
    position: relative;
}
.second-submenu-content {
    display: none;
    position: absolute;
    transform: translateX(198px) translateY(-28px);
}
.second-submenu:hover .second-submenu-content {
    display: block;
}

.menu-icon {
    height: 100%;
    width: auto;
    align-items: center;
}
#show-menu {
    visibility: hidden;
    width: auto;
}
.menu-icon {
    display: none;
}

/* media for header */
@media only screen and (max-width:991px) {
    .container {
        width: 90%;
    }
    header .row {
        flex-wrap: wrap;
    }
    .menu-icon {
        display: block;
    }
    .logo {
        width: 90%;
    }
    .chk {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .main-menu {
        width: 100%;
        height: auto;
    }
    .main-menu ul {
        flex-direction: column;
        width: 100%;
    }
    .main-menu ul li {
        margin-right: 0;
        width: 100%;
    }
    .main-menu ul li a {
        width: 100%;
    }
    .main-menu ul {
        display: none;
    }
    #show-menu:checked ~ .main-menu ul {
        display: block;
    }
}

/* banner section */
.background-1 {
    background-image: url('../imgae/photo-1.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.banner-position {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.banner-lines {
    color: #fff;
    text-align: center;
    font-weight: 100;
}
.banner-lines h1 {
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 32px;
}
.banner-lines p {
    margin-bottom: 32px;
}
.link-div {
    padding: 16px 0;
    margin-bottom: 24px;
    display: inline-block;
}
.active-btn {
    border: 2px solid #745cf9;
    background-color: #745cf9;
    text-decoration: none;
    color: #fff;
    padding: 13px 26px;
    min-width: 200px;
    font-size: 12px;
    font-family: Raleway-bold;
}
.normal-btn {
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    padding: 13px 26px;
    margin: 0 0 24px 8px;
    min-width: 200px;
    font-size: 12px;
    font-family: Raleway-bold;
}
.active-btn:hover {
    background-color: #5d47d7;
    border: 2px solid #5d47d7;
    transition: 0.3s;
}
.normal-btn:hover {
    color: #000;
    background-color: #fff;
    transition: 0.3s;
}
/* section 1 */
.section-seo {
    padding: 96px 0;
}
.image-flex {
    width: 65%;
}
.image-flex img {
    width: 100%;
    height: auto;
    padding: 0 10px;
}
.contents {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contents .seo {
    width: 90%;
    padding: 10px;
}
.seo h3 {
    font-size: 30px;
    margin-bottom: 24px;
    line-height: 33px;
}
.seo p {
    line-height: 24px;
    color: #8c979e;
    margin-bottom: 24px;
}
/*  resposive for section seo */
@media only screen and (max-width:767px){
    .section-seo .row {
        flex-direction: column;
    }
    .image-flex {
        width: 100%;
    }
    .contents {
        width: 100%;
    }
    .contents .seo {
        width: 100%;
    }
}
/* section protflio */
.section-protflio {
    padding: 96px 0;
    background-color: #f5f5f5;
}
.protflio h3 {
    font-size: 30px;
    margin-bottom: 24px;
    line-height: 33px;
}
.protflio p {
    line-height: 24px;
    color: #8c979e;
    margin-bottom: 24px;
}
.protflio-image {
    width: 65%;
    display: flex;
    justify-content: flex-end;
}
.protflio-image .image-flex {
    width: 90%;
}
/* resposive for protflionsection */
@media only screen and (max-width:767px){
    .section-protflio .row {
        flex-direction: column;
    }
    .protflio {
        width: 100%;
    }
    .protflio-image {
        width: 100%;
    }
    .protflio-image .image-flex {
        width: 100%;
    }
}
/* small prarllax section */
.background-2  {
    background-image: url('../imgae/photo-2.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.background-2 .banner {
    padding: 96px 0;
}
/* limitlesss option */
.limit {
    padding-top: 96px;
    background-color: #f5f5f5;
}
.container-2 {
    width: 80%;
    margin: 0 auto;
}
.limit-content {
    text-align: center;
    padding: 0 15px;
}
.limit-content h3 {
    font-size: 30px;
    margin-bottom: 24px;
}
.limit-content p {
    color: #8c979e;
    font-size: 14px;
    margin-bottom: 24px;
}
.limit-content-img {
    width: 100%;
    height: auto;
}
.limit-content-img img {
    width:100%;
    height: auto;
}
/* our leatest project */
.leatest-projects {
    padding-top: 96px;
    background-color: #000;
    width: 100%;
}
.leatest-content {
    text-align: center;
    padding: 0 15px;
    color: #fff;
}
.leatest-content h3 {
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 32px;
}
.leatest-content p {
    font-size: 14px;
    padding-bottom: 40px;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.flex-wrap .image-responsive {
    width: 25%;
    height: auto;
}
.image-responsive img {
    width: 100%;
    height: auto;
}
/* resposive for leatest projects */
@media (min-width:768px) and (max-width:991px) {
    .flex-wrap {
        flex-wrap: wrap;
    }
    .image-responsive {
        width: 50%;
        height: auto;
    }
}
@media only screen and (max-width:767px) {
    .image-responsive {
        width: 100%;
    }
}
/* background 3 */
.bg3 {
    height: 491px;
}
.background-3 {
    background: url('../imgae/photo-4.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 467px;
}
.background-3 .banner {
    padding: 24px;
}
.background-3 .banner .banner-lines img {
    border-radius: 50%;
    max-width: 15%;
    max-height: 15%;
    margin-bottom: 24px;
}
/* clients */
.clients {
    padding: 96px 0;
}
.clients-contents h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 64px;
}
.clients-contents ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
.clients-contents ul li img {
    width: 100px;
    height: 100px;
}
/* do you like */
.dyk {
    padding: 96px 0;
}
.dyk .row {
    align-items: center;
    justify-content: space-around;
}
.dyk h3 {
    font-size: 24px;
}
.dyk .link-div {
    margin-bottom: 0;
    padding: 0;
}
/* responsive for do you like */
@media only screen and (max-width:767px) {
    .dyk .row {
        flex-direction: column;
    }
    .dyk-h3 {
        width: 100%;
        display: block;
        margin-bottom: 8px;
    }
    .dyk .link-div {
        width: 100%;
        text-align: center;
        margin-top: 16px;
    }
    .dyk .link-div .active-btn {
        width: 100%; 
    }
}
/* footer */
.footer {
    padding: 96px 0;
    background-color: #0e1015;
    color: #fff;
    position: relative;
}
.footer-content {
    width: 50%;
    font-size: 14px;
    line-height: 24px;
    padding: 0 15px;
    margin-top: 15px;
}
.footer-content a {
    color:#fefefe;
    opacity: 0.8;
    font-weight: 600;
    text-decoration: none;
}
.social-links {
    width: 50%;
    padding: 0 15px;
}
.social-links ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
.social-links ul li {
    padding: 0 8px 0 10px;
}
.social-links ul li a {
    color: #fff;
}
.footer-up {
    height: 36px;
    width: 36px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 24px 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-up a {
    font-size: 14px;
    padding: 15px;
    color: #fefefe;
    border: 2px solid #fefefe;
}